html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  background-color: #1b1b1e;
  color: #aaaaaa;
  overflow-x: hidden;

  -webkit-tap-highlight-color: #00000000;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  height: 80%;
}

a {
  text-decoration: none;
  color: #aaaaaa;
}

/* for navbar */

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin: auto;
}

header {
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-left: 10%;
}

header > * {
  margin-right: 20px;
  cursor: pointer;
}

#apex {
  color: #00ffff;
}

.brand_name {
  margin: 0;
  margin-right: 30px;
}

.time_nav {
  margin-top: 10px;
  display: none;
}

.time_nav p {
  margin: 0;
}

#time_one{
  color: #00ffff;
}

/* .user_access {
  cursor: pointer;
  padding-top: 10px;
} */

/* end of navbar style */

/* content */

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.container_one {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container_two {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.content {
  padding-left: 10%;
  height: 70%;
  display: flex;
}

.view {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.textInput_wrapper {
  box-sizing: border-box;
}

#textInput {
  padding: 5px;
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #ffffff26;
  backdrop-filter: blur(5px);
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 3px;
  transition: transform 200ms ease;
}

#textInput:focus {
  outline: none;
  background-color: #ffffff26;
}

#text_wrap {
  width: 100%;
  height: 80px;
  overflow: hidden;
}

#text {
  font-size: 1.25rem;
  width: 100%;
  margin: auto;
  line-height: 40px;
  transition: transform 250ms ease;
  cursor: pointer;
}

.controls {
  padding-left: 20px;
  height: 100%;
  width: 30%;
}

.time {
  margin-top: 30px;
}

#time_two {
  color: #00ffff;
}

.time_settings {
  display: flex;
}

.time_settings p {
  margin: 0;
  margin-top: 5px;
}

.time_settings .time_toggle {
  margin: 0 10px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  filter: invert(100%);
}

.restart {
  display: flex;
  border: 1px solid #00ffff;
  color: #00ffff;
  box-sizing: border-box;
  width: fit-content;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.restart p {
  margin: 0;
  margin-top: 2px;
  margin-left: 5px;
}

.restart:hover {
  background-color: #00ffff;
  border: none;
  color: #000000;
}

.result {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 20px;
  font-size: 2rem;
  overflow: hidden;
}

.result_num {
  color: #00ffff;
}

.result p span {
  font-size: 4rem;
}

.block_horizontal {
  margin: auto;
  margin-top: 10px;
  width: 970px;
  height: 120px;
}

.block_vertical {
  margin: auto;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* end of content styling */

/* dynamic styles */
.correct {
  color: #00ffff99;
}

.red {
  color: #ff00009b;
}

.highlight {
  color: #00ffff;
}

.no_highlight {
  color: #aaaaaa;
}

.display_none {
  display: none;
}

@keyframes current_word_blinker {
  50% {
    background-color: #1b1b1e;
    color: #aaaaaa;
  }

  100% {
    background-color: #aaaaaa;
    color: #000000;
  }
}

.current_word {
  background-color: #aaaaaa;
  color: #000000;
  border-radius: 3px;
  transition: animation 1s ease-in-out;
  animation: 1500ms current_word_blinker ease infinite;
}

.test_words {
  margin: 5px;
  margin-bottom: 20px;
  padding: 3px;
  padding-bottom: 5px;
  border-radius: 3px;
}

.wrong_warning {
  background-color: #ff000099;
  color: #ffff;
}

.correct_warning {
  background-color: #00ffff99;
  color: #ffff;
}

/* end of dynamic styling */

/* responsiveness */

@media screen and (max-width: 1225px) {
  .block_horizontal {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .block_vertical {
    display: none;
  }
  .container_one {
    display: none;
  }
  header {
    padding-left: 0;
  }
  .container_two {
    width: 100%;
  }
  .content {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    /* margin: auto; */
  }
  .view,
  .controls {
    width: 100%;
    margin: auto;
  }

  .time {
    display: none;
  }
  .time_nav {
    display: block;
  }
  .controls {
    /* display: flex; */
    padding: 0;
    padding-top: 20px;
  }
  .restart {
    margin: auto;
  }
}

/* mobile respnsiveness */
@media screen and (max-width: 430px) {
  header {
    font-size: 1.5rem;
  }
  #text {
    font-size: 1rem;
    line-height: 30px;
  }
  #text_wrap {
    height: 60px;
  }
  #textInput {
    font-size: 1.2rem;
    padding: 2px;
  }
  .result {
    font-size: 1rem;
    padding-left: 20px;
  }
  .result p span {
    font-size: 2rem;
  }
  .restart {
    background-color: #00ffff;
    border: none;
    color: #000000;
  }
  /* .textInput_wrapper {
    display: flex;
    justify-content: center;
  } */
}

@media screen and (max-width: 325px) {
  header {
    font-size: 1rem;
  }
  .time {
    margin-top: 0;
  }
  #text {
    font-size: 0.7rem;
  }
  .test_words {
    margin: 0px;
  }
  #textInput {
    font-size: 1rem;
    padding: 2px;
  }
}

/* end of responsiveness */